@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

.side-body{
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 0px;
  }

.available-players{
    height: 590px;
    width: 320px;
    max-width: 320px;
    min-width: 265px;
    background-color: #9BDEAC;
    border-radius: 15px;
    border: #851d30 2px solid;
  }

  .search{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    
  }

  .filter-class{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .filter-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
  }

  .filter-text p{
    margin: 0px;
  }

  .position{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #851d30;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
  }

  .position:hover{
    transform: scale(1.1);
  }

  .position:active{
    opacity: .7;
  }

  .result-body{
    width: 90%;
    height: 170px;
    overflow-y: scroll;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    border: #851d30 2px solid;
  }
  .result-body::-webkit-scrollbar{
    width: 0px;
    display: none;
  }

  .mid-section{
    display: flex;
    flex-direction: row;
    column-gap: 20%;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    margin-left: 10%;
  }

  .avail-text{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .playercount{
    background-color: #EAD3C1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #851d30;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
  }

  .submit:hover{
    transform: scale(1.1);
  }

  .submit:active{
    opacity: .7;
  }

  .button-div{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: bottom;
    margin: 10px;
    margin-left: auto;
  }

  .available-body{
    width: 90%;
    height: 220px;
    overflow-y: scroll;
    background-color: #fff;
    margin-left: 5%;
    border-radius: 15px;
    border: #851d30 2px solid;
  }
  .available-body::-webkit-scrollbar{
    width: 0px;
    display: none;
  }

  /* Rechecking the visuals error*/
  .addPlayer {
    position: fixed;
    bottom: 3%;
    right: 5%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #851d30;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
  }

  .viewDatabase {
    position: fixed;
    bottom: 3%;
    right: 13.5%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #851d30;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
  }
  .viewDatabase:hover, .addPlayer:hover{
    transform: scale(1.1);
    background-color: #851d30;
  }
  .viewDatabase:active, .addPlayer:active{
    opacity: .7;
  }
  .viewDatabase i , .addPlayer i{
    font-size: 28px;
  }
  .link-newplayer {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-database {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hoverText {
    position: absolute;
    bottom: 30%;
    right: 115%;
    font-size: 24px;
    bottom: 110%;
    right: 10%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    white-space: nowrap;
    opacity: 0;
    text-align: center;
    transition: opacity 0.2s;
    pointer-events: none;
  }
  .hoverText p{
    margin: 0px;
    font-weight: 100;
  }
  .show {
    opacity: 1;
  }
  /*inside this container*/

  .player-query, .selected-player{
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    transition: .1s;
    cursor: pointer;
  }
  .player-query:hover, .selected-player:hover{
    background-color: rgb(177, 177, 177);
    cursor: pointer;
  }